.main-header{
    background-color: orange;
    text-align: center;
}

#main-header-ice{
    background-color: lightblue;
    text-align:center;
}

#main-header-lasagna{
    background-color:orange;
    text-align:center;
}